apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ _nexus_name }}"
  namespace: "{{ _nexus_namespace }}"
  labels:
    tuned.openshift.io/elasticsearch: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ _nexus_name }}"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: "{{ _nexus_name }}"
        tuned.openshift.io/elasticsearch: "true"
    spec:
      serviceAccountName: "{{ _nexus_name }}"
      initContainers:
      - name: init
        image: registry.access.redhat.com/ubi8/ubi-minimal
        command:
          - bash
          - -c
          - "mkdir -m777 -p /nexus-data/etc/; ln -s /opt/nexus/config/nexus.properties /nexus-data/etc/nexus.properties || true"
        volumeMounts:
        - name: nexus-data
          mountPath: /nexus-data
      containers:
{% if _nexus_oauth|bool %}
      - name: oauth-proxy
        image: "{{ _oauth-proxy_image }}:{{ _oauth-proxy_image_tag }}"
        args:
          - '--https-address='
          - '--http-address=:4180'
          - '--provider=openshift'
          - '--openshift-service-account={{ _nexus_name }}'
          - '--upstream=http://localhost:8081'
          - '--cookie-secret=SECRET'
{% for path in _nexus_bypass_auth_for %}
          - '--bypass-auth-for={{ path }}'
{% endfor %}
        ports:
          - name: public
            containerPort: 4180
            protocol: TCP
        imagePullPolicy: {{ _nexus_image_pull_policy }}
{% endif %}
      - name: nexus-server
        image: "{{ _nexus_image }}:{{ _nexus_image_tag }}"
        imagePullPolicy: {{ _nexus_image_pull_policy }}
        ports:
        - containerPort: 8081
          protocol: TCP
          name: http
{% if _nexus_docker|bool %}
        - containerPort: 8082
          protocol: TCP
          name: docker
{% endif %}
        readinessProbe:
          httpGet:
            path: /
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 120
          timeoutSeconds: 1
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 50
        livenessProbe:
          httpGet:
            path: /
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 120
          timeoutSeconds: 1
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 50
        resources:
          requests:
            cpu: "{{ _nexus_cpu_request }}"
            memory: "{{ _nexus_memory_request}}"
          limits:
            cpu: "{{ _nexus_cpu_limit}}"
            memory: "{{ _nexus_memory_limit }}"
        env:
        - name: INSTALL4J_ADD_VM_PARAMS
          value: -Xms{{ _nexus_jvm_memory }} -Xmx{{ _nexus_jvm_memory }} -XX:MaxDirectMemorySize={{ _nexus_jvm_memory }} -Djava.util.prefs.userRoot=${NEXUS_DATA}/javaprefs
        volumeMounts:
        - name: nexus-data
          mountPath: /nexus-data
        - name: nexus-config
          mountPath: /opt/nexus/config
      volumes:
      - name: nexus-config
        configMap:
          name: "{{ _nexus_name }}-config"
      - name: nexus-data
{% if _nexus_persistent|bool %}
        persistentVolumeClaim:
          claimName: "{{ _nexus_name }}-pvc"
{% else %}
        emptyDir: {}
{% endif %}
