kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: "{{ _nexus_name }}"
  namespace: "{{ _nexus_namespace }}"
  labels:
    app: "{{ _nexus_name }}"
spec:
  to:
    kind: Service
    name: "{{ _nexus_name }}"
{% if _nexus_route|d("") != "" %}
  host: "{{ _nexus_route }}"
{% endif %}
{% if _nexus_ssl|d(False)|bool %}
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
{% endif %}
  port:
{% if _nexus_oauth|bool %}
    targetPort: 4180
{% else %}
    targetPort: 8081
{% endif %}
