apiVersion: v1
kind: Secret
metadata:
    name: "{{ _nexus_name }}-admin-credentials"
    namespace: "{{ _nexus_namespace }}"
data:
    username: "{{ 'admin' | b64encode }}"
    password: "{{ nexus_admin_password | b64encode }}"