kind: Service
apiVersion: v1
metadata:
  name: "{{ _nexus_name }}-bypass"
  namespace: "{{ _nexus_namespace }}"
  labels:
    app: "{{ _nexus_name }}"
spec:
  selector:
    app: "{{ _nexus_name }}"
  ports:
  - name: nexus
    protocol: TCP
    port: 8081
    targetPort: 8081
  sessionAffinity: None
  type: ClusterIP