kind: Service
apiVersion: v1
metadata:
  name: "{{ _nexus_name }}"
  namespace: "{{ _nexus_namespace }}"
  labels:
    app: "{{ _nexus_name }}"
spec:
  selector:
    app: "{{ _nexus_name }}"
  ports:
  - name: nexus
    protocol: TCP
    port: 8081
    targetPort: 8081
{% if _nexus_oauth|bool %}
  - name: oauth
    protocol: TCP
    port: 4180
    targetPort: 4180
{% endif %}
{% if _nexus_docker|bool %}
  - name: docker
    protocol: TCP
    port: 8082
    targetPort: 8082
{% endif %}
  sessionAffinity: None
  type: ClusterIP
